:root {
    --header-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ec0fda3c-e07d-4092-9fa0-28b3f76eaa7e/de0n3g9-9f6cbf39-450a-4502-86c8-a60be2d4aba0.png/v1/fill/w_1192,h_670,q_70,strp/wallpaper_cosmere_roshar_3840x2160_by_giuz09_de0n3g9-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZWMwZmRhM2MtZTA3ZC00MDkyLTlmYTAtMjhiM2Y3NmVhYTdlXC9kZTBuM2c5LTlmNmNiZjM5LTQ1MGEtNDUwMi04NmM4LWE2MGJlMmQ0YWJhMC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Ov1YeuANhFM4h3g-FrtEY5mFJ97pOBwywTL_CQATKqM');
    --content: #43256E;
    --nav-bg: #101d28;
    --text: #9db8d3;
    --side-bg: #182a3a;
    --main-bg: #253f58;
}

/*Place holder text I found. Looking for something cloudy, airy or wispy currently*/
/* || Typography */
@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

/* || General Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #e3e4ff;
    color: #eaebff;
    background-image: var(--body-bg-image);
}

main {
    background-color: var(--main-bg);
    flex: 1;
    padding: 20px;
    order: 2;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.38);
}

h1,
h2,
h3 {
    color: var(--text);
}

h1 {
    font-size: 25px;
}

#flex {
    display: flex;
}

#container {
    max-width: 1075px;
    margin: 0 auto;
}

/* || Links */
#container a {
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
}

#container a:hover {
    color: #9ca1ba;
    text-decoration: underline;
}

/* || Header and Main Navigation */
header {
    width: 100%;
    background-image: var(--header-image);
    background-size: 100%;
    height: 242px;
}

#headerArea {
    box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.38);
    border-radius: 0px 0px 10px 10px;
}

header h1 {
    margin: 0;
    width: 100%;
    padding: 0px;
    text-align: center;
    display: table;
    background-color: var(--nav-bg);
}

#navbar {
    height: 40px;
    background-color: var(--nav-bg);
    width: 100%;
    border-radius: 0px 0px 8px 8px;

}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

#navbar {
    color: var(--text);
    font-weight: 800;
    text-decoration: none;
    margin-bottom: 10px;
}

/* || Sidebar */
aside {
    background-color: var(--side-bg);
    width: 200px;
    padding: 20px;
    font-size: smaller;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.38);
}

#leftSidebar {
    order: 1;
    margin-right: 10px;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    height: auto;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/* || Footer */ 
footer {
    background-color: var(--nav-bg);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 0.1px;
    margin-top: 10px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.38);
}

/* || Form Page */
.table-header {
    background-color: var(--nav-bg);
}

figure tbody:nth-child(odd) {
    background-color: var(--side-bg);
    color: var(--text);
}

figure {
    margin: auto;
}

input {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input[type="submit"],
input[type="reset"] {
    background-color: var(--side-bg);
    color: var(--text);
    display: block;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    border-color: var(--text);
    min-width: 300px;
}

option,
select {
    background-color: var(--side-bg);
    color: var(--text);
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input {
    border: 1px solid var(--side-bg);
    background-color: var(--side-bg);
    color: var(--text);
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

fieldset {
    border: none;
    border-bottom: 3px solid var(--text);
}

fieldset:last-of-type {
    border-bottom: none;
}

form {
    width: 100vw;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

::placeholder {
    color: var(--text);
}

/* || Utilities */
@media (max-width: 767px) {
    aside {
        display: none;
    }
}