<header>
  <nav>
    <h1>Kate Ford</h1>
    <ul>
      <li>
        <a href="index.html" data-switcher data-tab="1">Home</a>
      </li>
      <li>
        <a href="services.html" data-switcher data-tab="2">Services</a>
      </li>
      <li>
        <a href="about.html" data-switcher data-tab="3">About</a>
      </li>
      <li>
        <a href="contact.html" data-switcher data-tab="4">Contact</a>
      </li>
      <li>
        <a href="faq.html" data-switcher data-tab="5">FAQ</a>
      </li>
      
    </ul>
  </nav>
</header>