<div class="header-area">
  <header>
    <h1>Jacob Harland's Jolly Hydra &#128126; ITIS3135</h1>
  </header>
  <nav class="main-nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="intro.html">Intro</a></li>
      <li><a href="tables.html">Tables</a></li>
      <li><a href="forms.html">Form</a></li>
      <li><a href="website_evaluations.html">Website Evaluations</a></li>
      <li><a href="firstscripts.html">First Scripts</a></li>
      <li><a href="polygons.html">Polygons</a></li>
      <li><a href="calculator.html">Calculator</a></li>
    </ul>
  </nav>
</div>