<img src="images/MEEE.jpg" alt="profile picture" class="profile-picture">
<h2>Hi there!</h2>
<p>My name is Jacob Harland! This is my webpage for ITIS3135 where I'll be building a webpage throughout the semester.
</p>
<h3>Quick Links</h3>
<nav class="side-nav">
  <ul>
    <li><a href="https://webpages.charlotte.edu/jharlan3/" target="_blank">UNCC</a></li>
    <li><a href="https://github.com/JacobHarland/JacobHarland.github.io" target="_blank">github</a></li>
    <li><a href="https://jacobharland.github.io/" target="_blank">github.io</a></li>
    <li><a href="https://www.freecodecamp.org/JacobHarland" target="_blank">freecodecamp</a></li>
    <li><a href="https://www.codecademy.com/profiles/JacobHarland" target="_blank">codeacademy</a></li>
    <li><a href="https://www.linkedin.com/in/jacobharland/" target="_blank">LinkedIn</a></li>
  </ul>
</nav>